<div class="container">
    <h2>Detalle del Profesor</h2>

    <!-- Botón para regresar -->
    <div class="back-button">
        <button class="button-common" (click)="regresarAlListado()">Regresar al listado de profesores</button>
    </div>

    <!-- Tabla de datos -->
    <table>
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Nombre Estudiante</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dato of datosPaginados">
                <td>{{ dato.asignaturaNombre }}</td>
                <td>{{ dato.estudianteNombre }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Controles de Paginación -->
    <div class="pagination-controls" *ngIf="datos.length > tamanioPagina">
        <button class="button-common" (click)="paginaActual > 1 && cambiarPagina(paginaActual - 1)">
            Anterior
        </button>
        <span>
            Página {{ paginaActual }} de {{ maxPaginas }}
        </span>
        <button class="button-common" (click)="paginaActual < maxPaginas && cambiarPagina(paginaActual + 1)">
            Siguiente
        </button>
    </div>
</div>